<nav class="nav-bar">
    <div class="logo">
     <h1>Placment Cell</h1> 
    </div>
    <div class="all-details">
         <a href="/dasboard"><i class="fa fa-address-card"><p>Dasboard</p></i></a>
         <a href="/addinterview"><i class="fa fa-plus"><p>Add interview</p></i></a>
         <a href="/addstudent"><i class="fa fa-address-book-o"><p>Add student</p></i></a>
         <a href="/docdow"><i class="fa fa-download"><p>Report</p></i></a>
         <a href="/logout"><i class="fa fa-sign-out"><p>Logout</p></i></a>
         
         <!-- <a href="/login"><i class="fa fa-sign-in"><p>Sign In</p></i></a> -->
    </div>
  </nav>