
    <div class="Add-student">
        <h2>New Company Interview</h2>
       <form action="#" method="post" class="signup">
           <input type="text" name="companyname" placeholder="Enter Company Name">
           <input type="date" name="date" placeholder="Enter date">
          <button type="submit" class="btn-add">Add Interview</button>
       </form>
    </div>
