    
<div class="Add-student">
   <h2>Add Student</h2>
  <form action="/addstudent" method="post">
     <label for="name">Name</label><input type="text" name="name">
     <label for="email">Eamil</label><input type="email" name="email">
     <label for="college">College Name</label>  <input type="text" name="college">
     <label for="dsa">Dsa score</label>  <input type="text" name="dsa">
     <label for="web">Web score</label> <input type="text" name="web">
     <label for="react">React score</label> <input type="text" name="react">
     <label for="status">Placed/unplaced</label>  <input type="text" name="status">
     <button type="submit" class="btn-add">Add</button>
  </form>
</div>
