
    <div class="Add-student">
        <h2>Log In</h2>
       <form action="/login" method="post" class="signup">
           <input type="email" name="email" placeholder="Enter Email">
           <input type="password" name="password" placeholder="Enter password">
          <button type="submit" class="btn-add">Login</button>
          <p style="text-align: center;">If Not register <a href="/signup">Resister</a></p>
       </form>
    </div>
